<h1>CX Property Development Investment Site</h1>
<h2>Activated by Noor Group</h2>
<p>To get info more info on your current investment amount, please <a href="../users/sign_in">Sign In</a> (if not signed in already) and then click <a href="../inv_details">Investment Details</a>.</p>

