<h1>Editing inv detail</h1>

<%= render "form", inv_detail: @inv_detail %>

<br>

<div>
  <%= link_to "Show this inv detail", @inv_detail %> |
  <%= link_to "Back to inv details", inv_details_path %>
</div>
